body{
	 background:url(../images/bg_2.png) repeat;
	 font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
	 }
	
#wrapper{
		width:960px;
		margin:15px auto;
		background:#ffffff;
		height:500px;
		border:1.5px solid #cccccc;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		-moz-box-shadow:0 0 1px #a1a1a1;
		-webkit-box-shadow:0 0 1px #a1a1a1;
		box-shadow:0 0 1px #a1a1a1;
		border-radius:10px;
		color:#485156;
		}
		
#user_nav{
		 display:inline;
		 float:right;
		 width:850px;
		 height:45px; 
		 }
	
#user_nav ul li{
	           padding:0 20px 0 10px;
	           display:inline;
	           float:right;
	           }
	
#log_nav{float:right; width:275px; display:inline; margin-top:-35px; margin-right:5px;}	
	
#log_nav ul li{display:inline; padding:0 20px 0 0;}

#upload_nav {float:right; width:350px; display:inline; margin-top:-35px;}	
#upload_nav ul li{display:inline; padding:0 20px 0 0;}		
.register{		
		  width:370px;
		  background:#ffffff;
		  margin:50px auto;
	      height:320px;
	      padding-left:50px;
		  padding-top:35px;
		  padding-bottom:25px;
		  border:1.5px solid #cccccc;
		  -moz-border-radius:10px;
		  -webkit-border-radius:10px;
		  -moz-box-shadow:0 0 1px #a1a1a1;
		  -webkit-box-shadow:0 0 1px #a1a1a1;
		  box-shadow:0 0 1px #a1a1a1;
		  border-radius:10px;
		  color:#485156;
		  }

.signin{
	    width:370px;
		background:#ffffff;
  		margin:50px auto;
	    height:320px;
	    padding-left:50px;
		padding-top:35px;
		padding-bottom:25px;
		border:1.5px solid #cccccc;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		-moz-box-shadow:0 0 1px #a1a1a1;
		-webkit-box-shadow:0 0 1px #a1a1a1;
		box-shadow:0 0 1px #a1a1a1;
		border-radius:10px;
		color:#485156;
		}
		
.forgot{
	   width:370px;
	   background:#ffffff;
	   margin:50px auto;
	   height:190px;
	   padding-left:50px;
	   padding-top:10px;
	   padding-bottom:25px;
	   border:1.5px solid #cccccc;
	   -moz-border-radius:10px;
       -webkit-border-radius:10px;
	   -moz-box-shadow:0 0 1px #a1a1a1;
	   -webkit-box-shadow:0 0 1px #a1a1a1;
	   box-shadow:0 0 1px #a1a1a1;
	   border-radius:10px;
	   color:#485156;
	   }
	
.upload{		
		width:370px;
		background:#ffffff;
 		margin:50px auto;
	    height:280px;
	    padding-left:50px;
		padding-top:35px;
		padding-bottom:25px;
		border:1.5px solid #cccccc;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		-moz-box-shadow:0 0 1px #a1a1a1;
		-webkit-box-shadow:0 0 1px #a1a1a1;
		box-shadow:0 0 1px #a1a1a1;
		border-radius:10px;
		color:#485156;
		}	
.view{
	width:550px;
	background:#ffffff;
	margin:50px auto;
    height:auto;
    padding-left:50px;
	padding-top:35px;
	padding-bottom:25px;
	border:1.5px solid #cccccc;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:0 0 1px #a1a1a1;
	-webkit-box-shadow:0 0 1px #a1a1a1;
	box-shadow:0 0 1px #a1a1a1;
	border-radius:10px;
	color:#485156;
		}
#intro{
	margin:90px auto;
	width:700px;
	height:400px;	
}

#about{
	margin:90px auto;
	width:700px;
	height:400px;
}

#copy{
	padding-left:20px;
	font-size:7pt;
	margin: -100px auto;
	}

.name{font-weight:bold; font-size:12pt;}
.title{font-weight:bold; font-size:10pt;}
a{
  text-decoration:none;
  color:#485156;
  }

a:hover{text-decoration:underline;}