<h2><p>This site is currently under development</p></h2>
<%= link_to 'About Page', about_path %><br/>
<%= link_to 'Syllabus Uploader', new_path %><br/>
<%= link_to 'Login', new_user_session_path %><br/>
<%= link_to 'Sign Up', new_user_registration_path %>
